.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: bisque;
  margin-top: 80px;
}

.img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.img-wrapper{
  padding: 10px;
  margin: 10px;
}

.img{
  width: 450px;
  height: 325px;
}

ul{
  list-style-type: none;
}

.info-elements{
  font-size: 20px;
}